@model _1911061972_NguyenBinhAn_BigSchool.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên môn học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name)
        </dd>

        <dt>
            Địa điểm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            Ngày bắt đầu
        </dt>

        <dd>
             @Model.datetime.ToString("dd/M/yyyy")
        </dd>

        <dt>
            Giờ học
        </dt>

        <dd>
            @Model.datetime.ToString("HH:mm")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
