@model _1911061972_NguyenBinhAn_BigSchool.Models.CoursesListViewModel
@{
    ViewBag.Title = "MyCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Courses</h2>


<body>

    <ul class="course">
        @foreach (var course in Model.UpCourses)
        {
            if (!course.IsCanceled)
            {
             <li>
                <div class="date">
                    <div class="month">@course.datetime.ToString("MM")</div>
                    <div class="day">@course.datetime.ToString("dd")</div>
                </div>

                <div class="details">
                    <div class="lecturer">
                        @course.Lecturer.name
                        @if (Model.showButton)
                        {
                            <button class="btn btn-default btn-sm js-toggle-following" data-user-id="@course.LecturerId">Follow</button>
                        }
                    </div>
                    <div class="category">@course.Category.name</div>

                   
                </div>
                <div class="behavior">
                    <div class="edit">
                        @Html.ActionLink("Edit", "Edit", new { id = course.Id })
                    </div>
                    <div class="cancel">
                        <a href="#" class="js-cancel-course" data-course-id="@course.Id">Cancel</a>
                    </div>
                </div>
             </li>
            }
        }
    </ul>

    @section scripts{
        <script src="~/MyScripts/MyJs.js"></script>
    }
</body>

