@model _1911061972_NguyenBinhAn_BigSchool.Models.CoursesListViewModel
@{
    ViewBag.Title = "Home Page";
}
<head>
    
</head>

<body>

    <ul class="course">
        @foreach (var course in Model.UpCourses)
        {
            if (!course.IsCanceled)
            {
            <li>
                <div class="date">
                    <div class="month">@course.datetime.ToString("MM")</div>
                    <div class="day">@course.datetime.ToString("dd")</div>
                </div>

                <div class="details">
                    <div class="lecturer">
                        @course.Lecturer.name
                        @if (Model.showButton)
                        {
                        <button class="btn btn-link js-toggle-following" data-user-id="@course.LecturerId">follow</button>
                        }
                    </div>
                    <div class="category">@course.Category.name</div>
                    @if (Model.showButton)
                    {
                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }
                </div>

            </li>
            }
        }
    </ul>
    
    @section scripts{
        <script src="~/MyScripts/MyJs.js"></script>
        }
</body>  
    